
<style>
  
  .main
  {
    display: flex;
    background-color: #DCB32C;
    width: 100vw;
    height: 100vh;

  }

  .head
  {
    display: flex;
    flex-direction: column;
    background-color: #DCB32C;
    width: 100%;
    height: 75px;

  }
  
  .label
  {
    display: flex;
    background-color: #DCB32C;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 1.5rem;

  }
</style>

<main class="main">
  <div class="head">
  <div class="nav">
    <button (click)="navigateTo('home')">Home</button>
    <button (click)="navigateTo('person')">Person</button> 
  </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

